* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #eef1f5;
  padding: 20px;
  color: #222;
  width: 100%;
  display: block; 
}

.container {
  width: 95%; 
  max-width: 1600px;
  margin: 0 auto; 
  background: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}



h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 68px;
  font-weight: 700;
  color: #1f3c88;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #1f3c88;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.menu button {
  background: #1f3c88;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.menu button:hover {
  background: #16316a;
}

.lista-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
  gap: 24px;
  margin-top: 25px;
}

.card {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #dcdcdc;
  box-shadow: 0 3px 10px rgba(0,0,0,0.08);
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.card h3 {
  margin-bottom: 10px;
  color: #2b2b2b;
}

.card p {
  margin-bottom: 6px;
  color: #444;
}

.acoes button {
  margin-right: 8px;
  padding: 8px 14px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.acoes button:first-child {
  background: #28a745; 
}

.acoes button:first-child:hover {
  background: #1f8a38;
}

.acoes button:last-child {
  background: #dc3545; 
}

.acoes button:last-child:hover {
  background: #b02a37;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #bbb;
  font-size: 15px;
}

.form button {
  margin-top: 10px;
  padding: 12px;
  background: #1f3c88;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
}

.form button:hover {
  background: #16316a;
}

.modal {
  background: #fff;
  padding: 25px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.modal input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  border-radius: 5px;
  border: 1px solid #aaa;
}

.modal button {
  padding: 10px 15px;
  margin: 6px;
  background: #1f3c88;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.modal button:hover {
  background: #16316a;
}

.cancelar {
  background: #999 !important;
}

.cancelar:hover {
  background: #777 !important;
}

.input-busca {
  width: 100%;
  padding: 12px;
  margin: 20px 0 30px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  background: #fff;
  color: #000;
}

.titulo-lista {
  text-align: center;
  margin-bottom: 15px;
  color: #1f3c88;
}
